<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="style.css">
   <title>Document</title>
</head>
<body>
   <div class='nav-bar'></div>
   <div id='app'>
      <div class='product'>
         <div class='product-image'>
            <a :href="link"><img :src="image" alt="socks"></a>            
         </div>
         <div class='product-info'>
            <h1>{{ number }}</h1>
            <!-- v-if removes elements froom the DOM if not shown -->
            <!-- On the other hand, v-show sets display to none if not shown -->
            <p v-if="inventory > 10">In Stock</p>
            <p v-else-if="inventory <=10 && inventory > 0">Almost sold out</p>
            <p v-else>Out Of Stock</p>
            <span v-if="onSale">On Sale!</span>
            <ul>
               <li v-for="detail in details">{{ detail }}</li>
            </ul>
         </div>
      </div>
   </div>
   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
   <script src="script.js"></script>
</body>
</html>